<h1>About <a href="http://localhost:3000">QuerySpot</a></h1>
<legend></legend>
<div style="font-size: 25px">
<div>
	<span> ~ <em style="color: red">QuesrySpot</em></span> is online Question and Answer Community where questions are asked, answered by its community of users. 
</div>
<div>
	~ This capacitate people to learn from each other and to better understand the world.
</div>
<div>
	~ QuerySpot is designed specially for University level knowledge Sharing Experts Community where student from particular department(i.e Computer/Mechanical) can submit his/her query or doubt regarding particular subject and can get the best solution from other students and faculties.
</div>
<div>
	~ QuerySpot is not only Q & A Community, but this is also a Global thoughts sharing platform, <a href="http://localhost:3000/books" target="_blank"> Ebook section</a> with categories like Management, Engineering, Life-style etc.
</div>
</div>


