<% provide(:title, "Books")%>

<h1>Book Box</h1>

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  
  <h2>Books Of your Choices</h2>
  
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Development</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="/development" class="w3-bar-item w3-button">Web Development</a>
      <a href="/development" class="w3-bar-item w3-button">Mobile Apps</a>
      <a href="/development" class="w3-bar-item w3-button">Programming Language</a>
    </div>
  </div>
  
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Business</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">																
      <a href="/business" class="w3-bar-item w3-button">Finance</a>
      <a href="/business" class="w3-bar-item w3-button">Entrepreneurship</a>
      <a href="/business" class="w3-bar-item w3-button">HR</a>
      <a href="/business" class="w3-bar-item w3-button">Project Management</a>
      <a href="/business" class="w3-bar-item w3-button">Sales</a>
    </div>
  </div>
  
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">IT/Softwares</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Network & Security</a>
      <a href="#" class="w3-bar-item w3-button">Hardware</a>
      <a href="#" class="w3-bar-item w3-button">Operating System</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Health And Fitness</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Nutrition</a>
      <a href="#" class="w3-bar-item w3-button">Yoga</a>
      <a href="#" class="w3-bar-item w3-button">Dieting</a>
      <a href="#" class="w3-bar-item w3-button">Meditation</a>
      <a href="#" class="w3-bar-item w3-button">Safety And First Aid</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Lifestyle</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Arts And Crafts</a>
      <a href="#" class="w3-bar-item w3-button">Food and Beverages</a>
      <a href="#" class="w3-bar-item w3-button">Gaming</a>
      <a href="#" class="w3-bar-item w3-button">Travelling</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Marketing</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Digital Marketing</a>
      <a href="#" class="w3-bar-item w3-button">SEO</a>
      <a href="#" class="w3-bar-item w3-button">Social Media Marketing</a>
      <a href="#" class="w3-bar-item w3-button">Marketing Fundamental</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Academics</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">Social Science</a>
      <a href="#" class="w3-bar-item w3-button">Maths</a>
      <a href="#" class="w3-bar-item w3-button">Science</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Test Prep</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">GATE</a>
      <a href="#" class="w3-bar-item w3-button">CAT</a>
      <a href="#" class="w3-bar-item w3-button">CMAT</a>
      <a href="#" class="w3-bar-item w3-button">JEE</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-green">Languages</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="#" class="w3-bar-item w3-button">English</a>
      <a href="#" class="w3-bar-item w3-button">Spanish</a>
      <a href="#" class="w3-bar-item w3-button">German</a>
      <a href="#" class="w3-bar-item w3-button">Arabic</a>
      <a href="#" class="w3-bar-item w3-button">Russian</a>
      <a href="#" class="w3-bar-item w3-button">Japanese</a>
      <a href="#" class="w3-bar-item w3-button">French</a>
    </div>
  </div>

</div>
<div class="container-fluid bg-3 text-center">    
  <h3>Ask , Answer and do more...</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div><br>
    
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
</body>

</html>
