<h1><%= link_to "Back to Book Box", books_path%></h1>
<div>

	<h3>Business Ebooks</h3>
	
	<ul>
		<li>
			<a href="/Business FinanceC.pdf" target="_blank">BUSINESS FINANCE | 
Theory and Practice by
Eddie McLaney </a>
  		</li>

  		<li>
			<a href="/ENTREPRENEURSHIP Innovation and entrepreneurship.PDF" target="_blank">INNOVATION
AND ENTRE-
PRENEURSHIP
Practice and
Principles | PETER F. DRUCKER </a>
  		</li>
	</ul>
</div>