<h1><%= link_to "Back to Book Box", books_path%></h1>

<div>

	<h3>Web Development Ebooks</h3>
	
	<ul>
		<li>
			<a href="/60Learning Web Design 4th Edition.pdf" target="_blank">Learning Web Design by Jennifer Niederst Robbins O'REILLY 4th Edition </a>
  	</li>

  	<li>
			<a href="/Learning_Web_App_Development.pdf" target="_blank">Learning Web Application
			Development by Semmy Purewal O'REILLY </a>
  	</li>

		<li>
			<a href="/The Web Book-A4-HM.pdf" target="_blank">How to create Web sites and
			applications with HTML, CSS,
			Javascript, PHP and MySQL. The Web Book By Robert Schifreen Learning Web Application</a>
  	</li>
	</ul>
</div>



<div>
	
	<h3>Mobile App Development Ebooks</h3>

	<ul>
		
		<li>
			<a href="/android_tutorial.pdf" target="_blank">Android application development by Tutorialspoint</a>
		</li>
		
		<li>
			<a href="/android-workshop-2011.pdf" target="_blank">Android Workshop</a>
		</li>
	
	</ul>

</div>

<div>
	
	<h3>Programming Language Ebooks</h3>

	<ul>
		
		<li>
			<a href="/O'Reilly Learning Ruby.pdf" target="_blank">Learn Ruby Programming | O'Reilly Edition</a>
		</li>
		
		<li>
			<a href="/3830.pdf" target="_blank">Learn Ruby on Rails</a>
		</li>
	</ul>

</div>