<!DOCTYPE html>
<html>
<head>
	<title>Home | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>Sample App | Home Page</h1>
<p> Click <a href="http://localhost:3000/static_pages/help">here</a> to go Help Page</p>
</body>
</html>