<%#binding.pry%>
<div class="topics_select">
	<%= form_for(:create_subscribe_user) do |f| %>
	<% @topics.each do |topic| %>

		<div>
			<%= check_box_tag 'topic_ids[]', topic.id %>
			<%= topic.title %>
		</div>

	
	<% end %>
	 <%= f.submit "Go", class: "btn btn-primary" %>
	<% end %>
</div>